In [174]:
import numpy as np
import pandas as pd 
import csv 
import sqlite3 as sql
import struct, time
import os

1\. **Text files**

Perform the following operations on plain `txt` files:

+ create a list of integrer numbers and then save it to a text file named `data_int.txt`. Run the `cat` command to print the content of the file.
+ create a matrix of 5x5 floats and then save it to a text file named `data_float.txt`. Use the `cat` command to print the content of the file.
+ load the `txt` file of the previous point and convert it to a `csv` file by hand.

In [175]:
#Creating a list og integrer numbers 
list_of_integer = [1, 2, 3, 4, 5]
with open('data_int.txt', 'w') as file:
    for numbers in list_of_integer:
        file.write(f"{numbers}\n")

#Printing the numbers using the cat command, cant use cat on windows, so have to use type
print('The data_int.txt file:')
!type data_int.txt

#Creating the 5x5 matrix with random float numbers
float_matrix = np.random.rand(5,5)
np.savetxt('data_float.txt', float_matrix)
print('The data_float.txt file:')
!type data_float.txt

# Load the txt file
loaded_float_matrix = np.loadtxt('data_float.txt')

# Save the matrix to a csv file
csv_file_path = 'data_float.csv'

with open(csv_file_path, 'w', newline='') as csv_file:
    csv_writer = csv.writer(csv_file)
    csv_writer.writerows(loaded_float_matrix)

# Print the content of the csv file using the type command(windows)
print('The data_float.csv printed: ')
!type data_float.csv

The data_int.txt file:

1
2
3
4
5
The data_float.txt file:
8.396183909131209600e-01 6.032002381726573326e-01 6.171695879005029139e-01 6.076405193974087071e-01 1.589246423790511287e-01
2.769346247443837949e-02 7.340335760595270154e-01 7.218707800357253568e-01 1.478298512130327147e-02 7.656594138764463153e-01
5.955200091588666034e-01 9.378368129828917876e-02 5.801747432329045218e-01 5.836971440261097266e-01 7.308796021543711996e-01
4.197019102857177941e-01 8.375664861322515975e-01 5.593613710356997171e-01 5.302119779358047680e-01 7.199878896139844109e-02
5.220848693964087461e-01 4.310117052757719280e-01 4.860682028232585772e-01 9.950213630104044471e-01 6.700259672794895982e-01
The data_float.csv printed:
0.839618390913121,0.6032002381726573,0.6171695879005029,0.6076405193974087,0.15892464237905113
0.02769346247443838,0.734033576059527,0.7218707800357254,0.014782985121303271,0.7656594138764463
0.5955200091588666,0.09378368129828918,0.5801747432329045,0.5836971440261097,0.7308796021543712
0.4197019102857178,0.8375664861322516,0.5593613710356997,0.5302119779358048,0.07199878896139844
0.5220848693964087,0.43101170527577193,0.4860682028232586,0.9950213630104044,0.6700259672794896

2\. **JSON files**

Load the file `user_data.json`, which can be found at:

- https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

and filter the data by the "CreditCardType" when it equals to "American Express". Than save the data to a new CSV file.

In [176]:
#JSON filepaht
JSON_file = 'user_data.json'

with open(JSON_file, 'r') as json_file:
    jason_data = pd.read_json(json_file)

#Converting jason_data to a DataFrame
df = pd.DataFrame(jason_data)

#Filtering the data, when CreditCardType equals American express
filtered_data = df[df['CreditCardType'] == 'American Express'] #New dataframe only containing the data that meets the cond. 

#Saving to csv
filtered_data.to_csv('user_data.csv', index = None)

#Printing the filtered data
print("Filtered Data:")
print(filtered_data)
print("\nCSV File Saved at:", csv_file_path)

Filtered Data:
      ID               JobTitle                       EmailAddress  \
1      2    Investment  Advisor       Clint_Thorpe5003@bulaffy.com
11    12         Retail Trainee   Phillip_Carpenter9505@famism.biz
27    28        Project Manager        Russel_Graves1378@extex.org
38    39            Stockbroker       Leanne_Newton1268@typill.biz
56    57         Budget Analyst          Tony_Giles1960@iatim.tech
61    62           CNC Operator        Owen_Allcott5125@bauros.biz
67    68        Project Manager           Liam_Lynn3280@kideod.biz
73    74                Dentist      Regina_Woodcock5820@yahoo.com
80    81          HR Specialist       Carter_Wallace9614@atink.com
91    92    Staffing Consultant           Maia_Stark2797@jiman.org
96    97            Stockbroker          Ciara_Lomax982@bauros.biz
115  116    Staffing Consultant      Isabel_Ellwood1475@fuliss.net
147  148           CNC Operator  Abdul_Townend2202@infotech44.tech
149  150             Fabricator        Caleb_Poulton1735@atink.com
150  151     Restaurant Manager         Ronald_Lewis6777@deavo.com
153  154                Bellman        Faith_Seymour3829@twace.org
168  169        Assistant Buyer      Anthony_Hancock9083@qater.org
175  176  Healthcare Specialist    Isabella_Willson5478@nanoff.biz
181  182             Pharmacist     Stephanie_Darcy3298@bauros.biz
198  199    Investment  Advisor         Ryan_Kennedy5565@corti.com

     FirstNameLastName           CreditCard    CreditCardType
1         Clint Thorpe  7083-8766-0251-2345  American Express
11   Phillip Carpenter  3657-0088-0820-5247  American Express
27       Russel Graves  6718-4818-8011-6024  American Express
38       Leanne Newton  5438-0816-4166-4847  American Express
56          Tony Giles  8130-3425-7573-7745  American Express
61        Owen Allcott  4156-0107-7210-2630  American Express
67           Liam Lynn  7152-3247-6053-2233  American Express
73     Regina Woodcock  0208-1753-3870-8002  American Express
80      Carter Wallace  4256-7201-6717-4322  American Express
91          Maia Stark  3851-1403-1734-6321  American Express
96         Ciara Lomax  3702-3440-2472-5424  American Express
115     Isabel Ellwood  3738-0882-0066-6683  American Express
147      Abdul Townend  4224-1226-3557-3448  American Express
149      Caleb Poulton  8203-6875-5225-0341  American Express
150       Ronald Lewis  7212-0155-5014-8471  American Express
153      Faith Seymour  4170-5186-6887-6558  American Express
168    Anthony Hancock  0832-3357-6010-6550  American Express
175   Isabella Willson  5177-4868-4623-0384  American Express
181    Stephanie Darcy  0264-4020-5106-5576  American Express
198       Ryan Kennedy  3166-6287-6242-7207  American Express

CSV File Saved at: data_float.csv

3\. **CSV files with Pandas**

Load the file from this url:

- https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

with Pandas. 

+ explore and print the DataFrame
+ calculate, using `groupby()`, the average value of each feature, separately for each class
+ save the file in a JSON format.

In [182]:
#Saving filepath
csv_file = 'mushrooms_categorized.csv'
#Loading the dataframe
df = pd.read_csv(csv_file)

#Setting display options
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

#Exploring and printing
print('The DataFrame: ')
print(df)

print('Printing info: ')
print(df.info())

#Grouping 
average_by_class = df.groupby(['class']).mean()
print('Average by class: ')
print(average_by_class)

#Resetting display options
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

#saving the file in JSON format
df.to_json('mushroom_cathergories.json', orient = 'index')

The DataFrame:
      class  cap-shape  cap-surface  cap-color  bruises  odor  \
0         1          5            2          4        1     6
1         0          5            2          9        1     0
2         0          0            2          8        1     3
3         1          5            3          8        1     6
4         0          5            2          3        0     5
...     ...        ...          ...        ...      ...   ...
8119      0          3            2          4        0     5
8120      0          5            2          4        0     5
8121      0          2            2          4        0     5
8122      1          3            3          4        0     8
8123      0          5            2          4        0     5

      gill-attachment  gill-spacing  gill-size  gill-color  ...  \
0                   1             0          1           4  ...
1                   1             0          0           4  ...
2                   1             0          0           5  ...
3                   1             0          1           5  ...
4                   1             1          0           4  ...
...               ...           ...        ...         ...  ...
8119                0             0          0          11  ...
8120                0             0          0          11  ...
8121                0             0          0           5  ...
8122                1             0          1           0  ...
8123                0             0          0          11  ...

      stalk-surface-below-ring  stalk-color-above-ring  \
0                            2                       7
1                            2                       7
2                            2                       7
3                            2                       7
4                            2                       7
...                        ...                     ...
8119                         2                       5
8120                         2                       5
8121                         2                       5
8122                         1                       7
8123                         2                       5

      stalk-color-below-ring  veil-type  veil-color  ring-number  ring-type  \
0                          7          0           2            1          4
1                          7          0           2            1          4
2                          7          0           2            1          4
3                          7          0           2            1          4
4                          7          0           2            1          0
...                      ...        ...         ...          ...        ...
8119                       5          0           1            1          4
8120                       5          0           0            1          4
8121                       5          0           1            1          4
8122                       7          0           2            1          0
8123                       5          0           1            1          4

      spore-print-color  population  habitat
0                     2           3        5
1                     3           2        1
2                     3           2        3
3                     2           3        5
4                     3           0        1
...                 ...         ...      ...
8119                  0           1        2
8120                  0           4        2
8121                  0           1        2
8122                  7           4        2
8123                  4           1        2

[8124 rows x 23 columns]
Printing info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     8124 non-null   int64
 1   cap-shape                 8124 non-null   int64
 2   cap-surface               8124 non-null   int64
 3   cap-color                 8124 non-null   int64
 4   bruises                   8124 non-null   int64
 5   odor                      8124 non-null   int64
 6   gill-attachment           8124 non-null   int64
 7   gill-spacing              8124 non-null   int64
 8   gill-size                 8124 non-null   int64
 9   gill-color                8124 non-null   int64
 10  stalk-shape               8124 non-null   int64
 11  stalk-root                8124 non-null   int64
 12  stalk-surface-above-ring  8124 non-null   int64
 13  stalk-surface-below-ring  8124 non-null   int64
 14  stalk-color-above-ring    8124 non-null   int64
 15  stalk-color-below-ring    8124 non-null   int64
 16  veil-type                 8124 non-null   int64
 17  veil-color                8124 non-null   int64
 18  ring-number               8124 non-null   int64
 19  ring-type                 8124 non-null   int64
 20  spore-print-color         8124 non-null   int64
 21  population                8124 non-null   int64
 22  habitat                   8124 non-null   int64
dtypes: int64(23)
memory usage: 1.4 MB
None
Average by class:
       cap-shape  cap-surface  cap-color   bruises      odor  gill-attachment  \
class
0       3.266160     1.615970   4.581749  0.653992  4.334601         0.954373
1       3.436159     2.055158   4.421859  0.159346  3.940756         0.995403

       gill-spacing  gill-size  gill-color  stalk-shape  ...  \
class                                                    ...
0          0.285171   0.068441    6.622624     0.615970  ...
1          0.028601   0.567926    2.863636     0.514811  ...

       stalk-surface-below-ring  stalk-color-above-ring  \
class
0                      1.798479                6.098859
1                      1.394280                5.512768

       stalk-color-below-ring  veil-type  veil-color  ring-number  ring-type  \
class
0                    6.064639        0.0    1.931559     1.125475   3.007605
1                    5.504597        0.0    2.002043     1.009193   1.522983

       spore-print-color  population   habitat
class
0               3.201521    3.283270  1.148289
1               4.021450    4.031665  1.895812

[2 rows x 22 columns]

4\. **Reading a database**

Get the database `sakila.db` from the lecture `06_dataio.ipynb`, and import the table `actors` as a Pandas dataframe. Using the dataframe, count how many actors have a first name that begins with `A`.

*Hint:* use the Series `.str` method to apply the Python string methods to the elements of a Series, see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.html).

In [178]:
import urllib.request

# Downloading the sakila.db file
url = "https://gist.github.com/Piyush3dB/726bf7012785d6e0fd691c3655c92654/raw/2c17ccb2eb33b3396bfa96284c53f0718a4ea62c/sakila.db"
file_name = "./data/sakila.db"
urllib.request.urlretrieve(url, file_name)

# Connecting to the database and import the actors table
conn = sql.connect(file_name)
query = "SELECT * FROM actor"
df = pd.read_sql_query(query, conn)

# Counting actors with a first name starting with 'A'
count_a_actors = df[df["first_name"].str.startswith('A', na=False)].shape[0]

# Printing the result
print(f"Number of actors with a first name starting with 'A': {count_a_actors}")

Number of actors with a first name starting with 'A': 13

5\. **Reading the credit card numbers**

Get the binary file named `credit_card.dat` from this address:

- https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

and convert the data into the real credit card number, knowing that:
- each line corresponds to a credit card number, which consists of 16 characters (which are numbers in the 0-9 range) divided in 4 blocks, with a whitespace between each block
- each character is written using a 6 bit binary representation (including the whitespace)
- the final 4 bits of each line are a padding used to determine the end of the line, and can be ignored

*Hint*: convert the binary numbers to the decimal representation first, and then use the `chr()` function to convert the latter to a char

In [179]:
file_name = "credit_card.dat"

# Function for converting binary to decimal and then chr
def binary_to_credit_card(bin_str):
    # Convert each 6-bit to decimal 
    bit_group = [bin_str[i:i + 6] for i in range(0, len(bin_str) - 4, 6)]
    return ''.join(chr(int(chunk, 2)) for chunk in bit_group)

#Reading the binary data from the file
with open(file_name, "rb") as file:
    for line_number, line in enumerate(file, start=1):
        bin_blocks = line[:-1].split()
        card_number = ''.join(binary_to_credit_card(block) for block in bin_blocks)
        print(f"Credit Card number {line_number}: {card_number}")

Credit Card number 1: 7648 5673 3775 2271
Credit Card number 2: 3257 8247 3354 2266
Credit Card number 3: 2722 0001 4011 6652
Credit Card number 4: 0661 3063 3742 3150
Credit Card number 5: 0432 1608 1462 4742
Credit Card number 6: 5827 2027 8785 7303
Credit Card number 7: 5774 8528 2087 1117
Credit Card number 8: 8140 1210 6352 2845
Credit Card number 9: 5764 1133 7301 7100
Credit Card number 10: 6456 1737 4126 6726
Credit Card number 11: 1228 8631 7382 0000
Credit Card number 12: 7051 0160 5374 3166
Credit Card number 13: 0618 3587 1630 6376
Credit Card number 14: 1545 5454 7444 5636
Credit Card number 15: 6735 3116 3202 6834
Credit Card number 16: 7287 5011 1547 8413
Credit Card number 17: 7033 2607 3328 4200
Credit Card number 18: 2568 5244 1874 5024
Credit Card number 19: 1684 2253 7570 7118
Credit Card number 20: 0672 2576 0575 6631
Credit Card number 21: 6332 8353 8787 1340
Credit Card number 22: 1813 3361 1175 4211
Credit Card number 23: 2477 6450 8840 2368
Credit Card number 24: 5512 3505 2563 1326
Credit Card number 25: 3083 7882 0621 0025
Credit Card number 26: 4521 5148 8045 0334
Credit Card number 27: 7563 3654 8713 5787
Credit Card number 28: 8324 2664 0476 5561
Credit Card number 29: 0565 2504 7168 3510
Credit Card number 30: 5107 5507 1767 0738
Credit Card number 31: 2462 1821 2448 1443
Credit Card number 32: 2788 0638 6861 6554
Credit Card number 33: 5851 5873 5474 0547
Credit Card number 34: 0670 1004 4013 2655
Credit Card number 35: 5874 5506 3048 0806
Credit Card number 36: 2805 5401 8462 1260
Credit Card number 37: 5083 8406 6310 1862
Credit Card number 38: 1076 1445 3013 2266
Credit Card number 39: 8440 4804 4844 5277
Credit Card number 40: 4758 6141 0686 1387
Credit Card number 41: 7586 0675 0315 2568
Credit Card number 42: 2544 1258 7432 5165
Credit Card number 43: 3474 5023 4434 5626
Credit Card number 44: 1410 0270 0434 5086
Credit Card number 45: 7315 4446 1104 4215
Credit Card number 46: 0224 7742 8300 0266
Credit Card number 47: 0170 2700 3145 0640
Credit Card number 48: 2006 2437 8054 1600
Credit Card number 49: 8142 4055 1776 0026
Credit Card number 50: 3026 7380 1241 1084
Credit Card number 51:

6\. **Write data to a binary file**

a) Start from the `data/data_000637.txt` file that we have used during the previous lectures, and convert it to a binary file according to the format defined below:

In [180]:
from IPython.display import Image
Image("images/data_format.png")

def conv_txt_to_binary(in_txt, out_dat):
    #Reading the first ten lines of the file to df
    df = pd.read_csv(in_txt, nrows=10)

    #Opening the binary file in write
    with open(out_dat, 'wb') as binary_file:
        #Iterating over the rows
        for _, row in df.iterrows():
            #Packing the values into a single 64-bit integer word
            word = struct.pack('<qqqqqq', *map(int, row))

            #Writing the 64-bit word to the binary file
            binary_file.write(word)

    print(f"Conversion completed. The binary file saved to: {out_dat}")

conv_txt_to_binary('data_000637.txt', 'data_000637.dat')

#Task C, printing the size of the two files. The size of the text file is much bigger that the binary file as expected
txt_size = os.path.getsize('data_000637.txt')
dat_size = os.path.getsize('data_000637.dat')

print(f"Size of text file: {txt_size} bytes")
print(f"Size of binary file: {dat_size} bytes")

Conversion completed. The binary file saved to: data_000637.dat
Size of text file: 33179236 bytes
Size of binary file: 480 bytes

*Hints*:
- Read the first 10 lines using Pandas
- Iterate over the DataFrame rows
- For every row, "pack" the values (features) into a single 64-bit word, according to the format specified above. Use bit-wise shifts and operators to do so.
- Write each 64-bit word to a binary file. You can use `struct` in this way:
```
binary_file.write( struct.pack('<q', word) )
```
where `word` is the 64-bit word.
- Close the file after completing the loop.

b) Check that the binary file is correctly written by reading it with the code used in the lecture `06_dataio.ipynb`, and verify that the content of the `txt` and binary files is consistent.

c) What is the difference of the size on disk between equivalent `txt` and binary files?

In [181]:
import struct, time

data = {}

with open('data_000637.txt', 'rb') as file:
    file_content = file.read()
    word_counter = 0
    word_size = 8 # size of the word in bytes
    for i in range(0, len(file_content), word_size):
        word_counter += 1
        if word_counter > 10: break
        word = struct.unpack('<q', file_content[i : i + word_size])[0] # get an 8-byte word
        head     = (word >> 62) & 0x3
        fpga     = (word >> 58) & 0xF
        tdc_chan = (word >> 49) & 0x1FF
        orb_cnt  = (word >> 17) & 0xFFFFFFFF
        bx       = (word >> 5 ) & 0xFFF
        tdc_meas = (word >> 0 ) & 0x1F
        #if i == 0: print ('{0}\t{1}\t{2}\t{3}\t{4}\t{5}'.format('HEAD', 'FPGA', 'CHANNEL', 'ORBIT_CNT', 'BX_CNT', 'TDC_MEAS'))
        #print('{0}\t{1}\t{2}\t{3}\t{4}\t{5}'.format(head, fpga, tdc_chan, orb_cnt, bx, tdc_meas))
        entry = {'HEAD' : head, 'FPGA' : fpga, 'CHANNEL' : tdc_chan, 'ORBIT_CNT' : orb_cnt, 'BX_CNT' : bx, 'TDC_MEAS' : tdc_meas}
        #df = df.append(entry, ignore_index=True)
        data[word_counter] = entry
        
df = pd.DataFrame(data).T
df

    HEAD  FPGA  CHANNEL   ORBIT_CNT  BX_CNT  TDC_MEAS
1      1     1      424   588653088    2602         8
2      1     2       33  2946605610     354         1
3      1     4      295  2519081639     626         1
4      0    11       42   656519082     586         2
5      1     5       39   715628975    2754         2
6      1     3      175  2711759382     658         5
7      0    11       24   370705705    2570         5
8      0    14      155   471438873    2449        17
9      0    12      278   463149208     385        18
10     0    12      133   454628890     441        19