In [26]:
import numpy as np
from os import system
import csv
import pandas as pd
import csv

1\. **Text files**

Perform the following operations on plain `txt` files:

+ create a list of integrer numbers and then save it to a text file named `data_int.txt`. Run the `cat` command to print the content of the file.
+ create a matrix of 5x5 floats and then save it to a text file named `data_float.txt`. Use the `cat` command to print the content of the file.
+ load the `txt` file of the previous point and convert it to a `csv` file by hand.

In [28]:
#Creating a list og integrer numbers 
list_of_integer = [1, 2, 3, 4, 5]
with open('data_int.txt', 'w') as file:
    for numbers in list_of_integer:
        file.write(f"{numbers}\n")

#Printing the numbers using the cat command, cant use cat on windows, so have to use type
print('The data_int.txt file:')
!type data_int.txt

#Creating the 5x5 matrix with random float numbers
float_matrix = np.random.rand(5,5)
np.savetxt('data_float.txt', float_matrix)
print('The data_float.txt file:')
!type data_float.txt

# Load the txt file
loaded_float_matrix = np.loadtxt('data_float.txt')

# Save the matrix to a csv file
csv_file_path = 'data_float.csv'

with open(csv_file_path, 'w', newline='') as csv_file:
    csv_writer = csv.writer(csv_file)
    csv_writer.writerows(loaded_float_matrix)

# Print the content of the csv file using the type command(windows)
print('The data_float.csv printed: ')
!type data_float.csv

The data_int.txt file:
1
2
3
4
5
The data_float.txt file:
2.265554333562387335e-01 3.695797488143583998e-01 9.045268921144909990e-01 8.331503387811812766e-01 7.006605182977779789e-01
9.210476068031048236e-03 6.981606305804040069e-01 8.051451563773071030e-04 9.018318172386508014e-02 5.743455379105266712e-01
3.917638792524493763e-01 2.993632173900048210e-01 8.318096292642348510e-01 3.297246401596468646e-01 9.312544687609782823e-01
9.065827485283772802e-02 2.058547151305230027e-01 5.691457140489742939e-01 2.168894708913735592e-01 7.659125133286719400e-01
9.003328349316744861e-01 5.255775590394785590e-01 6.028664729969652747e-01 2.091116293601666953e-01 7.587879233870937767e-01
The data_float.csv printed:
0.22655543335623873,0.3695797488143584,0.904526892114491,0.8331503387811813,0.700660518297778
0.009210476068031048,0.698160630580404,0.0008051451563773071,0.09018318172386508,0.5743455379105267
0.3917638792524494,0.2993632173900048,0.8318096292642349,0.32972464015964686,0.9312544687609783
0.09065827485283773,0.205854715130523,0.5691457140489743,0.21688947089137356,0.7659125133286719
0.9003328349316745,0.5255775590394786,0.6028664729969653,0.2091116293601667,0.7587879233870938

2\. **JSON files**

Load the file `user_data.json`, which can be found at:

- https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

and filter the data by the "CreditCardType" when it equals to "American Express". Than save the data to a new CSV file.

In [29]:
#JSON filepaht
JSON_file = 'user_data.json'

with open(JSON_file, 'r') as json_file:
    jason_data = pd.read_json(json_file)

#Converting jason_data to a DataFrame
df = pd.DataFrame(jason_data)

#Filtering the data, when CreditCardType equals American express
filtered_data = df[df['CreditCardType'] == 'American Express'] #New dataframe only containing the data that meets the cond. 

#Saving to csv
filtered_data.to_csv('user_data.csv', index = None)

#Printing the filtered data
print("Filtered Data:")
print(filtered_data)
print("\nCSV File Saved at:", csv_file_path)

Filtered Data:
      ID               JobTitle                       EmailAddress  \
1      2    Investment  Advisor       Clint_Thorpe5003@bulaffy.com
11    12         Retail Trainee   Phillip_Carpenter9505@famism.biz
27    28        Project Manager        Russel_Graves1378@extex.org
38    39            Stockbroker       Leanne_Newton1268@typill.biz
56    57         Budget Analyst          Tony_Giles1960@iatim.tech
61    62           CNC Operator        Owen_Allcott5125@bauros.biz
67    68        Project Manager           Liam_Lynn3280@kideod.biz
73    74                Dentist      Regina_Woodcock5820@yahoo.com
80    81          HR Specialist       Carter_Wallace9614@atink.com
91    92    Staffing Consultant           Maia_Stark2797@jiman.org
96    97            Stockbroker          Ciara_Lomax982@bauros.biz
115  116    Staffing Consultant      Isabel_Ellwood1475@fuliss.net
147  148           CNC Operator  Abdul_Townend2202@infotech44.tech
149  150             Fabricator        Caleb_Poulton1735@atink.com
150  151     Restaurant Manager         Ronald_Lewis6777@deavo.com
153  154                Bellman        Faith_Seymour3829@twace.org
168  169        Assistant Buyer      Anthony_Hancock9083@qater.org
175  176  Healthcare Specialist    Isabella_Willson5478@nanoff.biz
181  182             Pharmacist     Stephanie_Darcy3298@bauros.biz
198  199    Investment  Advisor         Ryan_Kennedy5565@corti.com

     FirstNameLastName           CreditCard    CreditCardType
1         Clint Thorpe  7083-8766-0251-2345  American Express
11   Phillip Carpenter  3657-0088-0820-5247  American Express
27       Russel Graves  6718-4818-8011-6024  American Express
38       Leanne Newton  5438-0816-4166-4847  American Express
56          Tony Giles  8130-3425-7573-7745  American Express
61        Owen Allcott  4156-0107-7210-2630  American Express
67           Liam Lynn  7152-3247-6053-2233  American Express
73     Regina Woodcock  0208-1753-3870-8002  American Express
80      Carter Wallace  4256-7201-6717-4322  American Express
91          Maia Stark  3851-1403-1734-6321  American Express
96         Ciara Lomax  3702-3440-2472-5424  American Express
115     Isabel Ellwood  3738-0882-0066-6683  American Express
147      Abdul Townend  4224-1226-3557-3448  American Express
149      Caleb Poulton  8203-6875-5225-0341  American Express
150       Ronald Lewis  7212-0155-5014-8471  American Express
153      Faith Seymour  4170-5186-6887-6558  American Express
168    Anthony Hancock  0832-3357-6010-6550  American Express
175   Isabella Willson  5177-4868-4623-0384  American Express
181    Stephanie Darcy  0264-4020-5106-5576  American Express
198       Ryan Kennedy  3166-6287-6242-7207  American Express

CSV File Saved at: data_float.csv

3\. **CSV files with Pandas**

Load the file from this url:

- https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

with Pandas. 

+ explore and print the DataFrame
+ calculate, using `groupby()`, the average value of each feature, separately for each class
+ save the file in a JSON format.

In [45]:
#Saving filepath
csv_file = 'mushrooms_categorized.csv'
#Loading the dataframe
df = pd.read_csv(csv_file)

#Exploring and printing
print('The DataFrame: ')
print(df)
'''
print('Printing head: ')
print(df.head())
'''
print('Printing info: ')
print(df.info())

#Grouping 
average_by_class = df.groupby(['class']).mean()

The DataFrame:
      class  cap-shape  cap-surface  cap-color  bruises  odor  \
0         1          5            2          4        1     6
1         0          5            2          9        1     0
2         0          0            2          8        1     3
3         1          5            3          8        1     6
4         0          5            2          3        0     5
...     ...        ...          ...        ...      ...   ...
8119      0          3            2          4        0     5
8120      0          5            2          4        0     5
8121      0          2            2          4        0     5
8122      1          3            3          4        0     8
8123      0          5            2          4        0     5

      gill-attachment  gill-spacing  gill-size  gill-color  ...  \
0                   1             0          1           4  ...
1                   1             0          0           4  ...
2                   1             0          0           5  ...
3                   1             0          1           5  ...
4                   1             1          0           4  ...
...               ...           ...        ...         ...  ...
8119                0             0          0          11  ...
8120                0             0          0          11  ...
8121                0             0          0           5  ...
8122                1             0          1           0  ...
8123                0             0          0          11  ...

      stalk-surface-below-ring  stalk-color-above-ring  \
0                            2                       7
1                            2                       7
2                            2                       7
3                            2                       7
4                            2                       7
...                        ...                     ...
8119                         2                       5
8120                         2                       5
8121                         2                       5
8122                         1                       7
8123                         2                       5

      stalk-color-below-ring  veil-type  veil-color  ring-number  ring-type  \
0                          7          0           2            1          4
1                          7          0           2            1          4
2                          7          0           2            1          4
3                          7          0           2            1          4
4                          7          0           2            1          0
...                      ...        ...         ...          ...        ...
8119                       5          0           1            1          4
8120                       5          0           0            1          4
8121                       5          0           1            1          4
8122                       7          0           2            1          0
8123                       5          0           1            1          4

      spore-print-color  population  habitat
0                     2           3        5
1                     3           2        1
2                     3           2        3
3                     2           3        5
4                     3           0        1
...                 ...         ...      ...
8119                  0           1        2
8120                  0           4        2
8121                  0           1        2
8122                  7           4        2
8123                  4           1        2

[8124 rows x 23 columns]
Printing info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     8124 non-null   int64
 1   cap-shape                 8124 non-null   int64
 2   cap-surface               8124 non-null   int64
 3   cap-color                 8124 non-null   int64
 4   bruises                   8124 non-null   int64
 5   odor                      8124 non-null   int64
 6   gill-attachment           8124 non-null   int64
 7   gill-spacing              8124 non-null   int64
 8   gill-size                 8124 non-null   int64
 9   gill-color                8124 non-null   int64
 10  stalk-shape               8124 non-null   int64
 11  stalk-root                8124 non-null   int64
 12  stalk-surface-above-ring  8124 non-null   int64
 13  stalk-surface-below-ring  8124 non-null   int64
 14  stalk-color-above-ring    8124 non-null   int64
 15  stalk-color-below-ring    8124 non-null   int64
 16  veil-type                 8124 non-null   int64
 17  veil-color                8124 non-null   int64
 18  ring-number               8124 non-null   int64
 19  ring-type                 8124 non-null   int64
 20  spore-print-color         8124 non-null   int64
 21  population                8124 non-null   int64
 22  habitat                   8124 non-null   int64
dtypes: int64(23)
memory usage: 1.4 MB
None

4\. **Reading a database**

Get the database `sakila.db` from the lecture `06_dataio.ipynb`, and import the table `actors` as a Pandas dataframe. Using the dataframe, count how many actors have a first name that begins with `A`.

*Hint:* use the Series `.str` method to apply the Python string methods to the elements of a Series, see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.html).

5\. **Reading the credit card numbers**

Get the binary file named `credit_card.dat` from this address:

- https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

and convert the data into the real credit card number, knowing that:
- each line corresponds to a credit card number, which consists of 16 characters (which are numbers in the 0-9 range) divided in 4 blocks, with a whitespace between each block
- each character is written using a 6 bit binary representation (including the whitespace)
- the final 4 bits of each line are a padding used to determine the end of the line, and can be ignored

*Hint*: convert the binary numbers to the decimal representation first, and then use the `chr()` function to convert the latter to a char

6\. **Write data to a binary file**

a) Start from the `data/data_000637.txt` file that we have used during the previous lectures, and convert it to a binary file according to the format defined below:

In [ ]:
from IPython.display import Image
Image("images/data_format.png")

*Hints*:
- Read the first 10 lines using Pandas
- Iterate over the DataFrame rows
- For every row, "pack" the values (features) into a single 64-bit word, according to the format specified above. Use bit-wise shifts and operators to do so.
- Write each 64-bit word to a binary file. You can use `struct` in this way:
```
binary_file.write( struct.pack('<q', word) )
```
where `word` is the 64-bit word.
- Close the file after completing the loop.

b) Check that the binary file is correctly written by reading it with the code used in the lecture `06_dataio.ipynb`, and verify that the content of the `txt` and binary files is consistent.

c) What is the difference of the size on disk between equivalent `txt` and binary files?